<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="BibliotecaEntities1" connectionString="metadata=res://*/Infraestructure.BibliotecaModel.csdl|res://*/Infraestructure.BibliotecaModel.ssdl|res://*/Infraestructure.BibliotecaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PORTATIL-KIKO\SQLEXPRESS2019;initial catalog=Biblioteca;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
</configuration>